.order-form {

  &__group {
    margin-bottom: 1rem;
  }

  &__label {
    display: block;
  }

  &__input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: .5rem;
    border: 1px solid lightgray;
    border-radius: .25rem;
  }
}