.salad-maker {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: flex-start;

  &__panel {

    &--left {
      width: 70%;
    }

    &--right {
      width: 30%;
      height: calc(100vh - 200px);
      padding: 1rem;
      border: 1px solid gainsboro;
      border-radius: 0.25rem;
    }
  }
}