.message {
  padding: .5rem;
  border: 1px solid gainsboro;
  border-radius: 0.25rem;

  &--error {
    border: 1px solid red;
    background-color: lightcoral;
  }
  
  &--info {
    border: 1px solid skyblue;
    background-color: powderblue;
  }
}