body {
  font-family: 'Roboto', 'Arial', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lobster', 'Arial', cursive;
}

.button {
  padding: .5rem;
  min-width: 2rem;
  background-color: rgb(175, 224, 255);
  border: none;
  border-radius: .2rem;
  text-transform: uppercase;
  cursor: pointer;
  
  &--box {
    display: block;
    width: 100%;
  }

  &--sm {
    padding: .25rem;
  }

  &:hover {
    transition: all 150ms linear;
    opacity: .80;
  }

  &:disabled {
    background-color: lightgray;
    cursor: not-allowed;
  }
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
}